@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#252e35] text-white;
}

p,
a,
span {
  font-family: var(--font-inter);
}

h1,
h2 {
  font-family: var(--font-ubuntu);
  color: white;
}

a {
  @apply text-[#7a60e9];
}

p {
  @apply text-white;
}

span {
  @apply text-gray-500;
}